<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>coreDataTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>850F0A671DB4CA9400B11635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>850F0A7B1DB4CA9400B11635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>850F0A861DB4CA9400B11635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
